div.calculator {
    /* border: solid black 2px; */
}

button {
    width: 38px;
    height: 38px;
    margin: 4px 4px;
    border-radius: 15%;
    background-color: white;
    color: black;
}

button.numbers {
    background-color: #008dc4;
    color: white;
}

button.numbers.operations {
    background-color: #009650;
    color: white;
}

textarea#display {
    font-size: large;
    background-color: rgb(54, 54, 54);
    text-align: right;
}
